* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
a{
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.shopping-cart {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}
 
.item {
  padding: 10px;
  height: 210px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 75%;
}

.delete-btn {
  display: inline-block;
  Cursor: pointer;
}

.delete-btn {
  width: 50px;
  height: 50px;
  background: url("images/delete.png") no-repeat right;
  background-size: 25%;
}

.image {
  margin-right: 50px;
}

.image img {
  height: 100%;
  border-radius: 5px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
 
.description span:first-child {
  margin-bottom: 5px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.description span:last-child {
  margin-top: 8px;
  color: #86939E;
 font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  background: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
}

.quantity button:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.total-price {
  width: 100%;
  padding-top: 27px;
  text-align: center;
  font-size: 17px;
  color: #43484D;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
 }

 .summa {
  text-align: center;
  margin-top: 3%;
 }

 .button-order {
  position: relative;
  left: 25%;
  width: 50%;
  height: 50px;
  background: black;
  border: 1px solid #000;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Mulish', sans-serif;
  cursor: pointer;
  margin-bottom: 2%;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
  }

  .button-order:hover {
  transform: scale(1.05);
  transition: 0.2s;
  }

@media (max-width: 1920px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 30%;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}
@media all and (max-width: 1200px){
  .main_menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    /*flex-direction: column;*/
  }
}

@media all and (max-width: 870px){
  .main_menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    /*flex-direction: column;*/
  }
  .main_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
  }
  .logo{
    height: 120px;
    margin-left: 30px;
  }
}

@media (max-width: 4916px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 30%;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}

@media (max-width: 7916px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 30%;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}